<div class="columns">
    <div class="row">
        <div class="col-md-12">
            <button class="btn blue" (click)="open(content)">
        <i class="fa fa-plus"></i> 添加字段</button>
        </div>
    </div>
    <div class="datalist mg-top" *ngIf="columns.length>0">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
                <tr>
                    <th class="hidden-xs"> 字段名称 </th>
                    <th> 字段类型 </th>
                    <th> 字段长度 </th>
                    <th> 操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of columns">
                    <td> {{item.ColTitle}} </td>
                    <td> {{item.ColType}} </td>
                    <td> {{item.Length}} </td>
                    <td class="text-center">
                        <button class="btn green" (click)="open(content,item)">
                        修改</button>
                        <button class="btn btn-danger" (click)="deleteColumns(item)">
                        删除</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="nodata mg-top" *ngIf="columns.length==0">
        <div class="alert alert-info">
            <i class="fa fa-info-circle fa-fw fa-2x"></i> 没有字段数据
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">字段信息{{columnItem.isnew?"添加":"修改"}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <modules-options [columnItem]="columnItem" [columns]="columns" #colOption></modules-options>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c(colOption)">保存</button>
        <button type="button" class="btn btn-danger" (click)="c('cancel')">取消</button>
    </div>
</ng-template>