<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>银基水世界-微信购票后台管理</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>

<body>
  <div id="root"></div>
  <script>
    window.AppConfigs = {
      Copyright: "银基水世界",
      WebRoot: "/",
      ApiUrl: "http://localhost:54926",
      ApiPath: "/api",
      // ApiUrl: "http://172.16.43.247",
      System_name: "微信购票后台管理",
      Company_name: "银基水世界",
      Company_short_name: "银基",
    };
  </script>
</body>

</html>