<!-- BEGIN: ACCORDION DEMO -->
<div class="toolbar">
    <div class="page-bar">
        <ul class="page-breadcrumb float-right">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/index/home']">管理中心</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a [routerLink]="['/index/dictionary']">系统字典管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:;">{{appServ.pageTitle}}</a>
            </li>
        </ul>
        <h1 class="page-title"> <i class="icon-note font-green-sharp"></i> {{appServ.pageTitle}}</h1>
    </div>
</div>

<div class="dataform">
    <form class="form-horizontal" name="editForm" #editForm="ngForm" role="form" novalidate>
        <input type="hidden" ng-model="data.Id">
        <div class="form-body">
            <div class="form-group row">
                <label for="Title" class="col-2 col-form-label">词条名:</label>
                <div class="col-10">
                    <input type="text" [(ngModel)]="dataInfo.Title" name="Title" minlength="2" maxlength="100" class="form-control" placeholder="词条名" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Value" class="col-2 col-form-label">词条值:</label>
                <div class="col-10">
                    <input type="text" [(ngModel)]="dataInfo.Value" name="Value" minlength="2" maxlength="100" class="form-control" placeholder="词条值" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="RedirectUrl" class="col-2 col-form-label">词条类型:</label>
                <div class="col-4">
                    <select name="DictType" class="form-control" [(ngModel)]="dataInfo.DictType" required>
                        <option *ngFor="let item of dictTypes" [value]="item.Value">{{item.Title}}</option>
                    </select>
                </div>
                <label for="OrderID" class="col-2 col-form-label">排序id:</label>
                <div class="col-4">
                    <input type="text" [(ngModel)]="dataInfo.OrderID" name="OrderID" min="0" class="form-control" placeholder="排序id" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">描述:</label>
                <div class="col-10">
                    <textarea name="describe" maxlength="255" id="describe" [(ngModel)]="dataInfo.describe" placeholder="描述" class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>
        <div class="form-actions">
            <hr/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn green" (click)="dataSave()" [disabled]="!editForm.form.valid"> <span class="fa fa-save"></span> 保存</button>
                </div>
            </div>
        </div>
    </form>

</div>