<!-- BEGIN: ACCORDION DEMO -->
<div class="toolbar">
    <div class="page-bar">
        <ul class="page-breadcrumb float-right">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/index/home']">管理中心</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a [routerLink]="['/index/modules']">信息模型管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:;">{{appServ.pageTitle}}</a>
            </li>
        </ul>
        <h1 class="page-title"> <i class="icon-note font-green-sharp"></i> {{appServ.pageTitle}}</h1>
    </div>
</div>

<div class="dataform">
    <form class="form-horizontal" name="editForm" #editForm="ngForm" role="form" novalidate>
        <input type="hidden" ng-model="data.Id">
        <div class="form-body">
            <div class="form-group row">
                <label for="ModuleName" class="col-2 col-form-label">模型名称:</label>
                <div class="col-10">
                    <input type="text" [(ngModel)]="dataInfo.ModuleName" name="ModuleName" minlength="2" maxlength="255" class="form-control" placeholder="模型名称" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">描述:</label>
                <div class="col-10">
                    <textarea name="Describe" maxlength="255" id="Describe" [(ngModel)]="dataInfo.Describe" placeholder="描述" class="form-control" rows="3"></textarea>
                </div>
            </div>

        </div>
        <hr/>
        <modules-columns [(columns)]="dataInfo.Columns" ></modules-columns>
        <div class="form-actions">
            <hr/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn green" (click)="dataSave()" [disabled]="!editForm.form.valid"> <span class="fa fa-save"></span> 保存</button>
                </div>
            </div>
        </div>
    </form>

</div>
