<form class="form-horizontal" name="editForm" #editForm="ngForm" role="form" novalidate>
    <input type="hidden" ng-model="data.Id">
    <div class="form-body">
        <div class="form-group row">
            <label for="ColTitle" class="col-2 col-form-label">字段名称:</label>
            <div class="col-10">
                <input type="text" [(ngModel)]="columnItem.ColTitle" name="ColTitle" maxlength="255" class="form-control" placeholder="字段名称" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="ColType" class="col-2 col-form-label">字段类型:</label>
            <div class="col-10">
                <select name="ColType" class="form-control" [(ngModel)]="columnItem.ColType" required>
                    <option *ngFor="let item of columnTypes" [value]="item">{{item}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="columnItem.ColType=='nvarchar'">
            <label for="Length" class="col-2 col-form-label">字段长度:</label>
            <div class="col-10">
                <input type="text" [(ngModel)]="columnItem.Length" name="Length" maxlength="5" class="form-control" placeholder="字段长度">
            </div>
        </div>
        <div class="form-group row" *ngIf="columnItem.ColType=='decimal'">
            <label for="ColDecimal" class="col-2 col-form-label">小数位:</label>
            <div class="col-10">
                <input type="text" [(ngModel)]="columnItem.ColDecimal" name="ColDecimal" maxlength="5" class="form-control" placeholder="小数位">
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            <label for="optionsType" class="col-2 col-form-label">输入类型:</label>
            <div class="col-10">
                <select name="optionsType" class="form-control" [(ngModel)]="options.type">
                    <option *ngFor="let item of inputTypes" [value]="item.key">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="['single-select-dict'].indexOf(options.type)!=-1">
            <label class="col-2 col-form-label">字典分组:</label>
            <div class="col-10">
                <p-autoComplete [ngModelOptions]="{standalone: true}" [(ngModel)]="options.egroup" field="Title" [suggestions]="dictTypes" (completeMethod)="search($event)" [dropdown]="true"></p-autoComplete>
            </div>
        </div>
        <div class="form-group row" *ngIf="options.type=='single-select-reldict'">
            <label for="targetName" class="col-2 col-form-label">联动字段:</label>
            <div class="col-10">
                <select name="targetName" class="form-control" [(ngModel)]="options.targetName">
                    <option *ngFor="let item of columns" [value]="item.ColName">{{item.ColTitle}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row" *ngIf="options.type=='file'">
            <label for="preview" class="col-2 col-form-label">允许预览:</label>
            <div class="col-10">
                <div class="checkbox-list">
                    <label class="checkbox-inline"> 
                        <input [ngModelOptions]="{standalone: true}" type="checkbox" [name]="preview" [(ngModel)]="options.preview"/> 
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>