<div class="toolbar">
    <div class="page-bar">
        <ul class="page-breadcrumb float-right">
            <li>
                <i class="fa fa-home"></i>
                <a [routerLink]="['/index/home']">管理中心</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="javascript:;">{{appServ.pageTitle}}</a>
            </li>
        </ul>
        <h1 class="page-title"> <i class="icon-note font-green-sharp"></i> {{appServ.pageTitle}}</h1>
    </div>
</div>
<div class="dataform">
    <form class="form-horizontal" name="editFormGroup" [formGroup]="editFormGroup" (ngSubmit)="dataSave($event)">
        <ngb-tabset>
            <ngb-tab title="基本设置">
                <ng-template ngbTabContent>
                    <div class="form-group row" *ngFor="let item of settings | where: ['GroupId', 1]; let i = index ">
                        <label class="col-2 col-form-label">{{item.Descrip}}:</label>
                        <div class="col-8">
                            <form-input (uploaded)="uploaded($event)" [name]="item.CfgName" [itemFormGroup]="item.formGroup" [option]="item.option" [placeholder]="item.Descrip" [(value)]="item.CfgValue"></form-input>
                        </div>
                        <label class="col-2 col-form-label text-left">{{item.CfgName}}</label>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="界面设置">
                <ng-template ngbTabContent>
                    <div class="form-group row" *ngFor="let item of settings | where: ['GroupId', 2]; let i = index ">
                        <label class="col-2 col-form-label">{{item.Descrip}}:</label>
                        <div class="col-8">
                            <form-input (uploaded)="uploaded($event)" [name]="item.CfgName" [itemFormGroup]="item.formGroup" [option]="item.option" [placeholder]="item.Descrip" [(value)]="item.CfgValue"></form-input>
                        </div>
                        <label class="col-2 col-form-label text-left">{{item.CfgName}}</label>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="内容相关">
                <ng-template ngbTabContent>
                    <div class="form-group row" *ngFor="let item of settings | where: ['GroupId', 3]; let i = index ">
                        <label class="col-2 col-form-label">{{item.Descrip}}:</label>
                        <div class="col-8">
                            <form-input (uploaded)="uploaded($event)" [name]="item.CfgName" [itemFormGroup]="item.formGroup" [option]="item.option" [placeholder]="item.Descrip" [(value)]="item.CfgValue"></form-input>
                        </div>
                        <label class="col-2 col-form-label text-left">{{item.CfgName}}</label>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="其他设置">
                <ng-template ngbTabContent>
                    <div class="form-group row" *ngFor="let item of settings | where: ['GroupId', 4]; let i = index ">
                        <label class="col-2 col-form-label">{{item.Descrip}}:</label>
                        <div class="col-8">
                            <form-input (uploaded)="uploaded($event)" [name]="item.CfgName" [itemFormGroup]="item.formGroup" [option]="item.option" [placeholder]="item.Descrip" [(value)]="item.CfgValue"></form-input>
                        </div>
                        <label class="col-2 col-form-label text-left">{{item.CfgName}}</label>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
        <div class="form-actions">
            <hr/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn green" [disabled]="!editFormGroup?.valid"> <span class="fa fa-save"></span> 保存</button>
                </div>
            </div>
        </div>
    </form>
</div>